/*-----------COMMON-----------*/
body {
    font-family: Arial, sans-serif;
    
}
img {
    width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit;
}
/*buttons*/
a.my_btn {
    display: inline-block;
    border-radius: 20px;
    padding: 10px 15px;
    margin-left: -4px;
    line-height: normal;
    cursor: pointer;
    font-weight: bold;
}
.menu a.btn_login {
    background-color: #363636;
    color: #fff;
}
.btn_buy_now {
    background-color: #cd3d0f;
    color: #fff;
    margin-top: 10px;
}
.btn_more_info {
    background-color: #2d64e6;
    color: #fff;
    margin-top: 15px;
}
.btn_single_product_ps4 {
    background-color: #2d64e6;
    color: #fff;
    margin-top: 5px;
}
.btn_ps_plus {
    color: #3c6fe5;
    background-color: #d9dadc;
}
.btn_ps_now {
    background-color: #f5f5f5;
    color: #2e2e2e;
}
/*-----------HEADER-----------*/
header {
    font-family: Helvetica, arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}
/*sony logo*/
.top_header {
    background-color: black;
    height: 35px;
    position: relative;
}
.logo_header img {
    height: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
}
/*header nav*/
.ms_container {
    width: 99%;
    margin: auto;
}
.bottom_header {
    height: 70px;
    line-height: 70px;
}
.chevron_down {
    width: 10px;
    display: inline-block;
    cursor: pointer;
}
ul.menu {
    list-style-type: none;
}
ul.menu li {
    display: inline-block;
    padding-right: 17px;
}
ul.menu a {
    text-decoration: none;
    color: #000000;
}
/*ps logo*/
.ps_logo {
   width: 55px;
   display: inline-block;
}
.ps_logo img {
    width: 100%;
    vertical-align: top;
}
/*left menu*/
.left_header_nav .header_lg_menu {
    display: inline-block;
}
/*right menu*/
.right_header_nav {
    float: right;
}
.search_lens {
    width: 25px;
    cursor: pointer;
}
.search_lens img {
    width: 100%;
}
.left_header_nav {
    margin-right: -15px;
}
.left_header_nav .menu li:first-child{
    margin-left: -16px;
}
.left_header_nav .menu li:last-child,
.right_header_nav .menu li:last-child {
    padding-right: 0;
}
/*burger menu*/
.burger_menu {
    margin-top: 20px;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #ddd8d89b;
    border-radius: 4px;
    cursor: pointer;
}
.burger-1,
.burger-2,
.burger-3 {
    background-color: #969696;
    width: 25px;
    height: 2px;
}
.burger-2 {
    margin: 6px 0;
}


/*media header*/
@media (min-width: 992px) {
    .ps_logo img {
        vertical-align: middle;
    }
}


/*------------MAIN-----------*/
main {
    padding-top: 105px;
}
.main_container {
    width: 100%;
    max-width: 1600px;
    margin: auto;
}
/*jumbotron*/
.jumbotron{
    height: 600px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    /* background-position-x: 44%; */
    position: relative;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}
.jumbotron_1 {
    background-image: url(../img/jumbo-bg.png);
}
.jumbotron_2 {
    height: 630px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}
.img_title_jumbo {
    width: 280px;
}
.img_title_jumbo img {

}
.jumbo_text {
    position: absolute;
    bottom: 50px;
}
.jumbo_description {
    line-height: 25px;
}
.jumbo_description h2 {
    margin: 25px 0;
    font-size: 40px;
    line-height: 50px;
}

/*popular games*/
.popular_games_wrapper {
    margin-top: 20px;
}
.single_popular_game {
    padding: 15px 0;
}
.single_popular_game img{
    border-radius: 20px;
}
/*playstation 5*/
.playstation_5 {
    margin-bottom: 30px;
    margin-top: 100px;
}
.playstation_5 .title {
    text-align: center;
    
}
.playstation_5 h3 {
    font-size: 13px;
    font-weight: 600;
    color: #2687d5;
}
.playstation_5 h1 {
    font-size: 38px;
    color: #000000;
    padding-bottom: 15px;
}
.playstation_5 p {
    font-size: 19px;
    color: #a1a0a0;
}
.products_ps5 h2 {
    font-size: 35px;
    color: #000000;
    padding-top: 45px;
    padding-bottom: 15px;
}
.single_product_ps5 {
    text-align: center;
    opacity: 0.7;
    padding-bottom: 10px;
    padding-top: 10px;
}

.products_list_ps5 .active{
    border-bottom: 2px solid #2687d5;
}
.active .single_product_ps5 {
    opacity: 1;
}
/*new releases*/
.new_releases {
    background-color: #1f1f1f;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}
.new_releases h2 {
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: bolder;
}
.new_releases h4 {
    font-size: 23px;
    padding-bottom: 20px;
}
.single_new_game {
    font-size: 16px;
    padding-bottom: 40px;
}
.single_new_game img {
    border-radius: 20px;
    margin-bottom: 10px;
}
/*playstation 4*/
.playstation_4 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 120px;
}
.playstation_4 h2 {
    font-size: 40px;
    padding-bottom: 15px;
}
.playstation_4 p {
    font-size: 19px;
    color: #a1a0a0;
}
/* .playstation_4 .container-fluid > p {
    padding-bottom: 50px;
} */
.single_product_ps4 {
    text-align: left;
    padding-top: 50px;
}
.single_product_ps4 h3 {
    font-size: 40px;
}
/*subscription ps pluse ps now*/
.gray_back {
    background-color: #bebcbb;
}
.subscription_single {
    padding-top: 50px;
    padding-bottom: 50px;
}
.subscription_single .logo {
    width: 300px;
    padding-bottom: 30px;

}
.subscription_single p {
    padding-bottom: 20px;
}
/* .ps_plus_games {
    height: 100%;
    width: auto;
} */
.subscription .games {
    width: 350px;
}
.dark_blue_back {
    background-color: #161c3b;
    color: #fff;
}
/*discounts*/
.discounts {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}
.discounts p {
    font-size: 21px;
    color: #a1a0a0;
    padding-bottom: 30px;
}
.discounts h2 {
    font-size: 40px;
    color: #000000;
    padding-bottom: 15px;
}
.discounts_single {
    padding: 24px 0;
}
/*social*/
.social {
    text-align: center;
    padding-bottom: 50px;
}
.social h2 {
    font-size: 30px;
    padding: 60px 0;
}
.social_single {
    padding-bottom: 45px;
}
/*Media main*/
@media (min-width: 576px) {
    .main_container {
        width: 95%;
    }
    .img_title_jumbo {
        width: 310px;
    }      
    .single_popular_game {
        padding: 15px 5px;
    }
    .social_single {
        width: 120px;
    }
}
@media (min-width: 768px) {
    .img_title_jumbo {
        width: 410px;
    }
    .jumbotron.jumbotron_2 {
        height: 650px;
    }
    .single_product_ps5 img {
        padding: 5px 45px;
    }
    .subscription_single {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .subscription_single .logo {
        width: 210px;
        padding-top: 20px;
    }
}
@media (min-width: 992px) {
    .img_title_jumbo {
        width: 210px;
    }
    .subscription_single .logo {
        width: 340px;
        padding-top: 20px;
    }
    .subscription .games {
        width: 100%;
    }
    .subscription .games img {
        height: 100%;
    }
}
@media (min-width: 1650px) {
    .jumbotron {
        height: 800px;
    }
}


/*-----------FOOTER----------*/
footer {
    background-color: #00439c;
    color: #fff;
}
.footer_nav{
    padding-top: 80px;
    font-size: 15px;
}
.ps_logo_footer {
    width: 90px;
}
.select_country {
    padding-top: 35px;
    padding-bottom: 40px;
    
}
.select_country i {
    font-size: 19px;
    vertical-align: sub;
    margin-right: 12px;
}
.footer_nav .menu {
    margin-bottom: 35px;
}
.footer_nav .menu ul {
    list-style-type: none;
}
.footer_nav .menu li {
    line-height: 32px;
}
.sie_logo {
    width: 150px;
    padding-bottom: 10px;
}